include utils.pug
+validationErrorSummary(errors)
form(id="modal-form")
  if locals.authenticated
    h1(id="modal-header")
    input(type='hidden' name='_csrf' value=csrfToken)
    p(id='p-add-errors' style="color:red;")
    +field("", 'inputName')
    div(class='py-4 modal-buttons')
      button(type='submit' id="addTagOrList") Add
      button(id="close-modal-cancel") Cancel
  else