html
    head
        block head
            title=title 
            link(rel="stylesheet" href="/stylesheets/reset.css")
            meta(name="title" content="Forget Me Notes")
            meta(name="description" content="A single page todo app based on Remember The Milk, built without frontend libraries")
            meta(property="og:type" content="website")
            meta(property="og:url" content="https://forget-me-notes.herokuapp.com/")
            meta(property="og:title" content="Forget Me Notes")
            meta(property="og:description" content="A single page todo app based on Remember The Milk, built without frontend libraries")
            meta(property="og:image" content="https://fantsy-app.s3.amazonaws.com/1613583860623.png")
    body 
        block content