append head
  link(rel="stylesheet" href="/stylesheets/top-navbar.css")
  link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")  
  link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css")
div(id='top-navbar' class='top-navbar')
  span(class='top-navbar-left-space top-navbar-link' id="bars")
    i(style="font-size:20px" class="fa fa-bars" id="bars-text") 
  div(class="search-container")
    button(type="submit" id='searchButton'): i(class="fa fa-search")
    input(type="text" id="searchText" class="searchText-class" name="search")
  span(class="top-navbar-link-group")
    span(class='top-navbar-link' id="top-nav-name") Welcome #{user.firstName}!
    span(class='top-navbar-link' id='top-nav-notification')
      span(class="fa fa-bell notification" style="font-size:22px")
      //- if(notificationCount)
      span(id="awaiting-contact-number")
    span(class='top-navbar-link')
      a(href="https://github.com/rhwebster/forgetMeNotes" target="_blank")
        i(style="font-size:22px" class="fab fa-github" aria-hidden="true" id="github")
    span(id="settings" class='top-navbar-link')
      i(style="font-size:22px" class="fa fa-gear")
    div(class="settings-menu menu-hidden")
      div(class="settings-section" id="userinfodiv")
        div(id="profilepic")
        div(id="userinfo")
          span(id="user-name") #{user.firstName} #{user.lastName}
          span(id="user-email") #{user.email}
      div(class="settings-section")
        div(class="settings-header") Project Info
        ul
          li(class="settings-link")
            a(href="https://github.com/rhwebster/forgetMeNotes/wiki") GitHub - Wiki
      div(class="settings-section")
        div(class="settings-header") A Look at The Developer
        ul
          li(class="settings-link")
            a(href="https://github.com/rhwebster/" target="_blank") Ryan Webster
      div(class="settings-section")
        div(class="settings-header") Account
        ul
          li(class="settings-link")
            button(method='post' class="log-out-button")
              a(href='/users/logout') Logout
  div(id="alert-window" class="hidden") Test was moved to another list
    span(id="alert-close" class="fa") &#xf00d